@using TMS.Models.Cashed
@model ConstantsPlanState

<div class="form-group">
    @Html.LabelFor(x => x, new Dictionary<string, object>() {{"class", "control-label"}})
    @Html.DropDownListFor(x => x.ID, 
                          CachedConstants.PlanStates.Select(item => new SelectListItem()
                          {
                              Value = item.ID,
                              Text = item.Name,
                              Selected = item.ID == Model.ID
                          }), 
                          null, 
                          new Dictionary<string, object>(){{"class", "form-control"}, {"id", "PlanStateSel"}})
</div>