@model string

<div class="form-group">
    @Html.LabelFor(x => x, new Dictionary<string, object>() {{"class", "control-label"}})
    @Html.TextAreaFor(x => x, new Dictionary<string, object>() {{"class", "form-control"}})
</div>