@model string

<div class="form-group">
    @Html.LabelFor(x => x, new Dictionary<string, object>(){{"class", "col-md-2 control-label"}})
    <div class="col-md-10">
        @Html.TextBoxFor(x => x, new Dictionary<string, object>(){{"class", "form-control"}})
    </div>
</div>
 